body {
    font-family: fantasy;
    color: #272028;
    background-color: #ddf2f7;
}

header {
    text-align: center;
}
figcaption {
    text-align: center
}

h2 {
    text-align: center
}

video{

}

h1 {
background-color: ;
text-align: center

sectio

#vuelos {
    display: inline-block;
    color: brown;
}